* {
    margin: 0 auto;
}

/* Float clear */
#clear_float::after {
    clear: both;
    display: table;
    content: "";
}

/* Navbar */
header {
    padding-left: 10%;
    padding-right: 10%;
    border-bottom-style: solid;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: auto;
    color: white;
    
}

h1 {
    background-color: #4aaaa5;
    float: left;
    clear: both;
    padding: 10px;
    margin: 0;
}
.header_links {
    float: right;
    padding-left: 1%; 
    padding-top: 15px;
}

a:hover {
    color: aqua;
}

a {
    color: #777777;
    text-decoration: none;
}

section {
    height: 960px;
    clear: both;
    background-image: url(../images/country-quilt.png);
    font-family: Arial, Helvetica, sans-serif;
}

.test {
    color: #4aaaa5;
    background: white;
    height: 500px;
    width: 700px;
    position: relative;
    top: 80px;
    border: 7px solid white;
    /* font-weight: bold; */
    /* Tested to see if it worked */
    /* overflow: auto; */
}

/* index.html css */
p {
    color: black;
}

#about_me {
    font-size: 24px;
    left: 10px;
    color: #4aaaa5;
    font-weight: bold;
}

img {
    float: left;
    padding-right: 5px;
}

/* contact.html css */

label {
    color: black;
    margin-top: 20px;
}

#contact_name {
    width: 680px;   
}

#contact_email {
    width: 680px;
}

#contact_message {
    width: 680px;
    height: 200px;
}

button {
    margin: 30px 0px;
    color: white;
    background: #4aaaa5;
    width: 80px;
    height: 35px;
}
/* global footer */
footer {
    background-color: #666666;
    padding-top: 65px;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
}
